.produto-compra-item{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
    margin: 1rem 0;
}



.foto-compra img {
  width: 200px;
  height: 120px;
  object-fit: cover;
}

.dados-compra{
    place-content: end;
    font-family: Arial, Helvetica, sans-serif;
}

.preco-produto-compra{
    color: #333;
}

.dados-compra h2{
    margin: 0.4rem 0;
}

.vendedor-span{
    color: #e80;
}

@media(max-width:500px){
    .produto-compra-item{
        grid-template-columns: auto;
    }

    .foto-compra img{
        width: 100%;
    }
}