.header {
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(30, 60, 90, 0.1);
}

.item-header {
  max-width: 1400px;
  padding: 1.25rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.item-header img {
  max-width: 100%;
  width: 80px;
}
