.login-title {
  font-family: Arial, Helvetica, sans-serif;
  color: #87f;
  text-align: center;
}

.main-login {
  display: grid;
  margin: 3rem 0;
  justify-content: center;
  flex: 1;
}

.main-login label {
  margin-bottom: 1.1rem;
  display: inline-block;
}

.root {
  display: flex;
  flex-direction: column;
}

.main-login form {
  margin-top: 2rem;
}

.main-login form input {
  margin-bottom: 2rem;
}

.btn-login {
  border: none;
  cursor: pointer;
  width: 20vw;
  place-self: center;
}

.trocar-senha {
  text-align: center;
  margin-top: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.trocar-senha:hover {
  color: #87f;
}

.titulo-criar {
  color: #334455;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem 0;
  text-align: center;
  font-size: 1.7rem;
}

.criar-conta {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
}
