@import url("./reset.css");
@import url("./header.css");
@import url("./produtos.css");
@import url("./produto.css");
@import url("./componentes/btn.css");
@import url("./componentes/formulario.css");
@import url("./footer.css");
@import url("./login.css");
@import url("./usuario/global.css");
@import url("./backgrroundMain.css");
