.btn-principal {
  background-color: #87f;
  padding: 0.6rem 1.4rem;
  border-radius: 4px;
  font-size: 1.1rem;
  box-shadow: 0 2px 4px rgba(30, 60, 90, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  color: #f7f7f7;
}

.btn-secundario {
  padding: 0.75rem 1.2rem;
  background-color: #e80;
  color: #f7f7f7;
  border: none;
  grid-column: 2;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  place-self: start;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-secundario:hover {
  scale: 1.1;
  transition: 0.2s;
}
